<h1>{{title}}</h1>
<ul>
  <li *ngFor="let hero of heroes" [title]='hero.name + " details"' [routerLink]="['/heroes', hero.heroId]">
      <h2>{{ hero.name }}</h2>
      <div>Can you fly? {{hero.canFly}}</div>
      <div>Power: {{hero.power}}</div>
      <app-power-boost
      [hero]="hero"
      (notify)="onNotify()"
      (notify2)="onDeactivate()"></app-power-boost>
  </li>
</ul>
<p *ngIf="heroes.length > 3">Woahh lots of heroes!</p>
<label for="canFly">
  Can you fly?
  <input type="checkbox" id="canFly" [(ngModel)]="canFly" />
</label>
<input #box (keyup.enter)="addHero(box.value); box.value = '';">

<p>The hero's birthday is {{ birthday | date: format }}</p>
<button (click)="toggleFormat()">Toggle format</button>

<p>Its price is {{ price | currency: 'EUR':'Euros '}}</p>
